<main class="main-wrapper">

    <div class="container-fluid">
        <div class="row">

            <div class="col-xl-5 " >

                <div class="bg_img">
                    <img class="bg-clr" src="assets/images/bg-clr.svg" alt="">
                    <div class="bg-img">
                        <img class="" src="assets/images/bg-img.png" alt="">
                        <p class=" mb-0 mt-3 box">Experience the power of our CRM solutions, designed to help businesses
                            efficiently manage customer information, track leads, and improve overall customer
                            satisfaction.</p>
                    </div>
                </div>

            </div>



            <div class="col-xl-7 " >
                <div class="body-text mt-4">
                    <div class="d-flex align-items-center flex-column">
                        <div>
                            <img class="orient-img" src="assets/images/orient-logo.svg" alt="">
                        </div>

                        <div class="content">
                            <p class="mb-0 login">Log in</p>
                            <div class="mb-3 mt-4">
                                <label for="exampleFormControlInput1" class="form-label">Username</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Password</label>
                                <div>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Password">
                                    <p class="mb-0 forgot-label">Forgot Password</p>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Enter Captcha</label>
                                <div class="captcha-box">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-end w-100">
                                            <img src="assets/images/captcha.svg" alt="">
                                            <div class="ms-auto">
                                                <img src="assets/images/question.svg" alt="">
                                                <img src="assets/images/refresh.svg" alt="">
                                                <img src="assets/images/volume.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="email" class="captcha-form form-control" id="exampleFormControlInput1"
                                        placeholder="Captcha">
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember my ID on this computer
                                </label>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <button class="btn next">Next</button>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <p class="mb-0 username me-2">Don’t have a username?</p>
                                <p class="mb-0 request">Request a new user</p>
                            </div>

                            <div class="logo-container d-flex align-items-center justify-content-center mt-5">
                                <hr class="logo-line">
                                <div class="logo">
                                    <img src="assets/images/crms-logo.svg" alt="">
                                </div>
                                <hr class="logo-line">
                            </div>

                            <div class="footer">
                                <div class="d-flex align-items-center w-100">
                                    <p class="mb-0 me-auto copywrite">Copyright © 2024 • Servitium CRM</p>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 me-4 privacy ">Privacy Policy</p>
                                        <p class="mb-0 privacy">Security Policy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- <ng-template #otherContent>
                    <div class="body-text mt-4">
                        <div class="d-flex align-items-center flex-column">
                            
                            <div>
                            <img class="orient-img" src="assets/images/orient-logo.svg" alt="">
                            </div>
        
                            <div class="content mt-3">
                            <div class="d-flex" (click)="toggleView()" style="cursor: pointer;">
                                <img src="assets/images/back.svg" alt="">
                                <p class="me-2 mb-0 back">Back</p>
                            </div>
                                <p class="mb-3 login">Verify that it's you</p>

                                <p class="mb-0">We have sent a verification code to the ***** **345 phone number attached to your account</p>
                                <div class="mb-3 mt-4">
                                    <label for="exampleFormControlInput1" class="form-label">Verification Code</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                </div>

                                <p class="mb-0 username d-flex align-items-center justify-content-center">Wait 58 seconds before requesting a new code</p>
                            
        
                            <div class="d-flex align-items-center justify-content-center mt-4">
                                <button class="btn next" (click)="goToDashboard()">Verify and login</button>
                            </div>
                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <p class="mb-0 request">Verify another way</p>
                        </div>
        
                        <div class="logo-container d-flex align-items-center justify-content-center mt-5">
                            <hr class="logo-line">
                            <div class="logo">
                            <img src="assets/images/crms-logo.svg" alt="">
                            </div>
                            <hr class="logo-line">
                        </div>
        
                        <div class="footer">
                        <div class="d-flex align-items-center w-100">
                            <p class="mb-0 me-auto copywrite">Copyright © 2024 • Servitium CRM</p>
                            <div class="d-flex align-items-center">
                            <p class="mb-0 me-4 privacy ">Privacy Policy</p>
                            <p class="mb-0 privacy">Security Policy</p>
                            </div>
                        </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </ng-template> -->


        </div>
    </div>
</main>