<div class="call-wrapper">
    <div class="container ps-0">
        <div class="row">
            <div class="col-xl-3 pe-0">
                <div class="widges p-3">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/call-register.svg" alt="">
                        <p class="ms-2 mb-0 call-reg">Call Registration</p>
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="exampleFormControlInput1" class="form-label mb-0">Mobile Number *</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>

                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label mb-0">Alternate Mobile Number</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>

                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label mb-0">Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>

                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label mb-0">Complaint Number *</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>

                      <div class="mt-5 d-flex align-items-center justify-content-center">
                        <button class="btn reset me-3">Reset</button>
                        <button class="btn search">Search</button>
                      </div>

                      <p class="mt-3 mb-0 fill d-flex align-items-center justify-content-center">*Fill atleast one out of two mandatory fields</p>
                </div>
            </div>
            <div class="col-xl-9 ps-0 pe-0">
               <div class="widge p-3 d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <img src="assets/images/empty.svg" alt="">
                    <p class="mb-2 search mt-4">No search made</p>
                    <p class="mb-3 criteria">You haven’t entered the search criteria </p>
                    <button class="btn customer mt-3">Add Customer</button>

                </div>

            </div>
            <!-- <div>
                <div class="px-3 logo-container mt-5">
                    <hr class="logo-line">
                    <div class="logo">
                    <img src="assets/images/crms-logo.svg" alt="">
                    </div>
                    <hr class="logo-line">
                </div>
                <div class="footer px-3">
                <div class="d-flex align-items-center w-100">
                    <p class="mb-0 me-auto copywrite">Copyright © 2024 • Servitium CRM</p>
                    <div class="d-flex align-items-center">
                    <p class="mb-0 me-4 privacy ">Privacy Policy</p>
                    <p class="mb-0 privacy">Security Policy</p>
                    </div>
                </div>
                </div>
            </div> -->

            </div>
        </div>
    </div>
</div>