<main class="wrapper">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xl-3 px-2 left-box pt-3">
                <!-- Content for left column -->
                <div class="row">
                    <div class="col-xl-12 mb-3">
                        <div class="call d-flex align-items-center ">
                            <img src="assets/images/call-logo.svg" alt="call-img" class="img-box">
                            <h2 class="call-registration mt-1  mb-1">Call Registration</h2>
                        </div>
                    </div>

                    <div class="col-xl-12 mb-3">
                        <div class="form-group">
                            <label for="Mobile Number *" class="label-text">Mobile Number *</label>
                            <input type="text" class="form-control input-value " id="Mobile Number *"
                                placeholder="899-334-2231">
                        </div>
                    </div>

                    <div class="col-xl-12 mb-3">
                        <div class="form-group">
                            <label for="Alternate Mobile Number" class="label-text">Alternate Mobile Number
                            </label>
                            <input type="text" class="form-control input-value" id="Alternate Mobile Number"
                                placeholder="">
                        </div>
                    </div>

                    <div class="col-xl-12 mb-3">
                        <label for="Name" class="label-text">Name</label>
                        <input type="text" class="form-control input-value" id="Name" placeholder="">
                    </div>

                    <div class="col-xl-12 mb-3">
                        <label for="Complaint number" class="label-text">Complaint Number</label>
                        <input type="text" class="form-control input-value" id="Complaint Number" placeholder="">
                    </div>

                    <div class="col-xl-12 ">
                        <div class="d-flex buttons align-items-center justify-content-center my-5">
                            <div class="btn btn-1 ">Reset</div>
                            <div class="btn btn-2 ms-2">Search</div>
                        </div>
                    </div>

                </div>
            </div>


           
                <div class="col-xl-9 p-0">
                    <!-- Content for right column -->

                    <div class="right-container mt-1">
                        <div class="d-flex top-container px-3 py-2 border-bottom pb-0">
                            <img src="assets/images/customer-logo.svg" alt="customer-logo" class="customer-logo">
                            <p class="add-customer ms-2">Add Customer</p>
                        </div>

                        <div class="p-3">
                            <div class="row">
                                <div class="col-xl-4 mb-3">
                                    <label for="Mobile Number*" class="label-text m-auto">Mobile Number*</label>
                                    <input type="text" class="form-control input-value " id="Mobile Number"
                                        placeholder="7217-8714-3456">
                                </div>
                                <div class="col-xl-4">
                                    <label for="Name *" class="label-text m-auto">Name *</label>
                                    <input type="text" class="form-control input-value " id="Name*" placeholder="">

                                </div>
                                <div class="col-xl-4">
                                    <label for="Email" class="label-text m-auto">Email</label>
                                    <input type="text" class="form-control input-value " id="Email" placeholder="">
                                </div>

                                <div class="col-xl-3 mb-3">
                                    <label for="Alternate Mobile Number" class="label-text m-auto">Alternate Mobile
                                        Number</label>
                                    <input type="text" class="form-control input-value " id="Alternate Mobile Number"
                                        placeholder="">
                                </div>

                                <div class="col-xl-3">
                                    <label for="Customer type" class="label-text m-auto">Customer type</label>
                                    <div class="d-flex unique-border">
                                        <input type="text" class="form-control input-value Customer-type "
                                            id="Customer type" placeholder="customer">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xl-3">
                                    <label for="Customer Priority Type" class="label-text m-auto">Customer Priority
                                        Type</label>
                                    <div class="d-flex unique-border">
                                        <input type="text" class="form-control input-value Customer-Priority-Type" id="Customer Priority
                                    Type" placeholder="">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xl-3 ">
                                    <label for="Preferred Language " class="label-text m-auto">Preferred Language
                                    </label>
                                    <div class="d-flex unique-border">
                                        <input type="text" class="form-control input-value Preferred-Language"
                                            id="Preferred Language " placeholder="">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xl-4 mb-3 ">


                                    <label for="Pincode*" class="label-text m-auto">Pincode*</label>
                                    <div class="d-flex unique-border">
                                        <img src="assets/images/magnifier.svg" alt="magnifier" class=" magnifier pt-1">
                                        <input type="text" class="form-control input-value pincode ps-1" id="Pincode*"
                                            placeholder="Search pincode">
                                    </div>

                                </div>

                                <div class="col-xl-4">
                                    <label for="House Number*" class="label-text m-auto">House Number*</label>
                                    <input type="text" class="form-control input-value " id="House Number*"
                                        placeholder="">
                                </div>

                                <div class="col-xl-4">
                                    <label for="Landmark" class="label-text m-auto">Landmark</label>
                                    <input type="text" class="form-control input-value " id="Landmark" placeholder="">
                                </div>


                                <div class="col-xl-4 ">
                                    <label for="City*" class="label-text m-auto">City*</label>

                                    <div class="d-flex unique-border">
                                        <input type="text" class="form-control input-value city" id="City*"
                                            placeholder="-select-">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <label for="State*" class="label-text m-auto">State*</label>
                                    <div class="d-flex unique-border">
                                        <input type="text" class="form-control input-value state" id="State*"
                                            placeholder="-select-">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-4">
                                    <label for="Area*" class="label-text m-auto">Area*</label>
                                    <div class="d-flex unique-border">
                                        <input type="text" class="form-control input-value area" id="Area"
                                            placeholder="-select-">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex buttons align-items-center  mb-4 mt-4 pt-5 pb-5 mx-4 right-buttons py-3">
                            <div class="btn btn-1 ms-4">Reset</div>
                            <div class="btn btn-2 ms-2">Submit</div>
                        </div>
                    </div>
                </div>
            



        </div>
    </div>
</main>